@charset "UTF-8";

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	font-family: 'Pretendard-Regular';
	font-size: 20px;
}

a {
	text-decoration: none;
	color: black;
}

button:hover {
	cursor: pointer;
}

input[type=button]:hover {
	cursor: pointer;
}

input[type=submit]:hover {
	cursor: pointer;
}

header {
	margin: 20px 0;
}

.box {
	width: 1300px;
	margin: 0 auto;
}

#logo_box {
	display: inline-block;
}

#logo_img {
	width: 120px;
	height: 110px;
	display: inline-block;
}

#search_bar {
	width: 430px;
	border: 3px solid #aed581;
	border-radius: 10px;
	height: 40px;
	display: inline-block;
	position: relative;
	bottom: 40px;
	left: 270px;
	top: 20px;
	text-align: right;
}

#search_bar button {
	background-color: rgba(0, 0, 0, 0);
	border: none;
}

#loupe_img {
	width: 30px;
	height: 30px;
	display: inline;
	float: right;
	padding: 4px;
	margin-right: 5px;
	;
}

#right_header {
	float: right;
}

#icon_box {
	display: inline-block;
	width: 200px;
	height: 50px;
	margin: 5px;
}

#log_box {
	display: inline-block;
	width: 200px;
	height: 50px;
	margin: 5px;
}

#icon_box img {
	width: 40px;
	height: 40px;
	margin: 3px 10px;
	float: right;
}

#log_box {
	text-align: right;
	line-height: 40px;
}

nav ul {
	width: 915px;
	margin: 0 auto;
	margin-top: 50px;
	position:absolute;
	left : 350px;
	z-index: 100;
	/* border: 1px solid red; */
	background-color: white;
}

nav li {
	list-style-type: none;
	display: inline-block;
	width: 200px;
	padding: 10px;
	line-height: 30px;
	text-align: center;
}

.title {
	position: relative;
	font-size: 25px;
	background-color: #aed581;
	height: 40px;
	line-height: 40px;
	border-radius: 7px;
	
}

.subtitle {
	display: none;
}

.subtitle_li {
	position: relative;
	margin-top: 1px;
	z-index: 100;
}

section {
	margin : 0 auto;
	position: absolute;
	width: 1300px;
	height : 1000px;
	top: 250px;
	/*  border :2px solid seagreen;*/
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.b-example-divider {
	height: 3rem;
	background-color: rgba(0, 0, 0, .1);
	border: solid rgba(0, 0, 0, .15);
	border-width: 1px 0;
	box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em
		rgba(0, 0, 0, .15);
}

.b-example-vr {
	flex-shrink: 0;
	width: 1.5rem;
	height: 100vh;
}

.bi {
	vertical-align: -.125em;
	fill: currentColor;
}

.nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}

.nav-scroller .nav {
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

#footer {
	position: relative;
	top: 900px;
	
}

aside {
	width: 220px;
	height: 400px;
	position: absolute;
	z-index: 0;
	/* border: 1px solid green; */
	}

aside li {
	list-style-type: none;
}

.content {
	width: 1000px;
	/* border: 1px solid green; */
	position: absolute;
	left :240px;
	z-index: 0;
	
}


.aside_title {
	font-size: 25px;
	font-weight: bold;
}

