<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penefit.moons.mapper.AdminMapperSong">
	
	<select id = "getSuggestInfo" resultType="com.penefit.moons.domain.SuggestDTO">
		SELECT *
		FROM suggest
		WHERE suggest_num = #{suggest_num}
	</select>
	
	<!--  클래스 리스트  -->
	<select id = "getClassList" resultType = "com.penefit.moons.domain.ClassVO">
		SELECT *
		FROM class
		ORDER BY class_regdate DESC
	</select>
	
	<!--  클래스 리스트 시간역 -->
	<select id = "getClassListASC" resultType= "com.penefit.moons.domain.ClassVO">
		SELECT *
		FROM class
		ORDER BY class_regdate ASC
	</select>
	
	<select id = "getClassListActive" resultType= "com.penefit.moons.domain.ClassVO">
		SELECt *
		FROM class
		WHERE class_date > NOW()
		ORDER BY class_regdate DESC
	</select>
	
	<select id = "getClassListEnd" resultType= "com.penefit.moons.domain.ClassVO">
		SELECt *
		FROM class
		WHERE NOW() > class_date
		ORDER BY class_regdate DESC
	</select>
	
	<!-- 클래스 검색 -->
	<select id = "searchClass" resultType = "com.penefit.moons.domain.ClassVO">
		SELECT *
		FROM class
		WHERE class_subject LIKE CONCAT('%',#{class_subject},'%')
		ORDER BY class_regdate DESC
	</select>
	
	<!-- 클래스 디테일정 -->
	<select id = "getClassOne" resultType = "com.penefit.moons.domain.ClassVO">
		SELECT *
		FROM class
		WHERE class_code = #{class_code}
	</select>
	
	<!-- 제안서 리스트 -->
	<select id = "getSuggestionList" resultType = "com.penefit.moons.domain.SuggestDTO">
		SELECT *
		FROM suggest 
	</select>
	
	
	
	<insert id="createClass">
		INSERT INTO class
		(class_code, class_subject, suggest_photo, class_teacher, class_date,
		class_info, class_memlit, class_price, city_code, class_regdate, suggest_num)
		VALUES (#{class_code}, #{class_subject}, #{suggest_photo}, #{class_teacher},
		#{class_date}, #{class_info}, #{class_memlit}, #{class_price},  #{city_code}, NOW(), #{suggest_num})
	</insert>

	
	<select id="getTypeCnt" resultType="string">
		SELECT class_code
		FROM class
	</select>
	
	<update id = "updateClass">
		UPDATE class
		SET class_subject = #{class_subject}, suggest_photo = #{suggest_photo},
		class_date = #{class_date}, class_info = #{class_info}, class_memlit = #{class_memlit},
		class_price = #{class_price}, class_modidate = NOW()
		WHERE class_code = #{class_code}
	</update>
	
	<delete id = "deleteClass">
		DELETE FROM class
		WHERE class_code = #{class_code}
	</delete>
	
	
	
	
	
	
	
	
</mapper>